MONGO_ADMIN_USER=admin
MONGO_ADMIN_PASS=changeme
MONGO_APP_USER=app_user
MONGO_APP_PASS=changeme
MONGO_MONITOR_USER=monitoring
MONGO_MONITOR_PASS=changeme
MONGO_BACKUP_USER=backup_user
MONGO_BACKUP_PASS=changeme
